<html>
    
{% include 'models/head.twig' %}

<body>

<div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
        <div class="container top_view">
            <div class="row wow fadeIn">
                <div class="col-md-12 text-center">
                    <h1 class="display-4 font-weight-bold mb-0 wow fadeInUp">Your Food, Smarter.</h1>
                    <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">Manage food and reduce your waste by storing the catalog of your food with a simple app.</h5>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <a class="btn btn-purple btn-rounded"><i class="fas fa-user left"></i> Download the App</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'models/scripts.twig' %}
</body>

</html>