<html>

<body>
    loading.. please wait.
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

if (localStorage.getItem("saved")) {
    var items = JSON.parse(localStorage.getItem("saved"));
} else {
    var items = [];
}

let vals = window.location.hash.split("-");
let unix_time = moment(vals[1], 'MM/DD/YYYY').unix();
items.push([vals[0].slice(1), unix_time]);
localStorage.setItem("saved", JSON.stringify(items));
window.location.href = "/history/";

</script>

</html>